.p-button:focus:not(.p-disabled),
.p-button:enabled:focus {
    outline: 0 none !important;
    box-shadow: none !important;
}

.bgTransition-enter {
    transition: background-color 0.3s ease-in-out;
}

.bgTransition-exit {
    transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        transition: width 1s !important;
    }

    .sidebarSecond {
        transition: margin-left 1s !important;
    }
}