* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.bgSecond {
  background-color: #121212 !important;
}

.bgThird {
  background-color: #242424 !important;
}

@media screen and (max-width: 769px) {

  .scrollableDiv::-webkit-scrollbar {
    display: none;
  }

}