@import url('./styles/home.css');

@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.disable-text-selection {
  -moz-user-select: none;
  /* firefox */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE*/
  user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.bgSecond {
  background-color: #121212 !important;
}

.bgThird {
  background-color: #242424 !important;
}


.p-datatable .p-datatable-tbody>tr,
.p-datatable .p-datatable-thead>tr,
.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tfoot>tr {
  background-color: transparent !important;
  border: none !important;
}

.p-datatable .p-datatable-thead>tr>th {
  color: #bbaeae !important;
}

.p-datatable .p-datatable-tbody>tr>td {
  border: none !important;
}


@media screen and (max-width: 769px) {

  .scrollableDiv::-webkit-scrollbar {
    display: none;
  }

}